@import "susy";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

.topNav {
	@include container;

	.topNav-sitename {
		@include span-columns(10, 12);
	}
	.topNav-login {
		@include span-columns(2 omega, 12);
	}
	.topNav-search {
		clear:both;
	}
	.topNav-create {
		clear:both;
	}
}

.page {
	@include container;

	.session-item {
		@include span-columns(12 omega, 12);

		.session-date-location {
			@include span-columns(3,12);
		}
		.session-name {
			@include span-columns(7,12);
		}
		.session-owner {
			@include span-columns(2 omega,12);
		}
	}

	.session-detail {
		@include span-columns(12 omega, 12);
		.session-admin {
			clear:both;
		}
		.session-description {
			@include span-columns(7,12);
		}
		.session-participants {
			@include span-columns(5 omega, 12);
		}
		.session-rsvp {
			clear:both;
		}
	}
}