@import "_typeplate";

html {
	@include base-type($font-properties...);
}

.topNav {
	text-align: center;
	margin-bottom: context-calc($alpha, $font-base, em);

	.topNav-login {
		text-align: right;
	}
}

.page {
	.session-list {
		.session-each {
			margin-bottom: context-calc($beta, $font-base, em);
			.session-item {
				.session-date-location {
					text-align: left;
				}
				.session-name {
					text-align: center;
				}
				.session-owner {
					text-align: right;
				}
			}

			.session-detail {
				.session-description {
					text-align: left;
				}
				.session-participants {
					text-align: right;
				}
				.session-rsvp {
					text-align: center;
				}
			}
		}
	}
}